.graphbox{
    border:1px solid #e7e7e7;
    padding:10px;
    width:250px;
    background-color:#f8f8f8;
    margin:5px 0;
}
.graphbox h2{
    color:#666666;
    font-family:Arial;
    font-size:18px;
    font-weight:700;
}
.graph{
    position:relative;
    background-color:#F0EFEF;
    border:1px solid #cccccc;
    padding:2px;
    font-size:13px;
    font-weight:700;
}
.graph .orange, .green, .blue, .red, .black{
    position:relative;
    text-align:left;
    color:#ffffff;
    height:13px;
    line-height:13px;
    font-family:Arial;
    display:block;
}
.graph .orange{background-color:#ff6600;}
.graph .green{background-color:#66CC33;}
.graph .blue{background-color:#3399CC;}
.graph .red{background-color:red;}
.graph .black{background-color:#555;}